<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Data Science Experience

I am interested in data science because I love telling stories with data and using data to help bring that data to life.I love helping others. In data science that could be helping a business understand its customers or improving the way it uses its customer data.

## Data Science Languages

1. Python
2. R
3. Julia
4. SQL
5. Scala

## Data Science Libraries

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. PyTorch

## Data Science Tools

| Category       | Tools             |
| -------------- | ----------------- |
| Data Analysis  | Python, R, SQL    |
| Data Cleaning  | Pandas, OpenRefine|
| Data Visualization | Matplotlib, Seaborn, ggplot2 |
| Machine Learning | Scikit-learn, TensorFlow, PyTorch |
| Big Data Processing | Apache Spark, Hadoop |
| Natural Language Processing | NLTK, SpaCy |

## Arithmetic Expressions

In this section, we'll explore examples of arithmetic expressions using basic mathematical operations such as addition, subtraction, multiplication, and division.

In [4]:
# Multiply and add numbers
a = 2
b = 3
product = a * b
sum = a + b
print("Product:", product)
print("Sum:", sum)

Product: 6
Sum: 5

In [5]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
print("Hours:", hours)

Hours: 2.0

## Objectives

- Understand different data science languages and libraries
- Explore various data science tools and their applications
- Perform arithmetic operations using Python
- Convert between different units of time

## Author

Suprit Kothari